{% extends 'WeMnid:layout'%}
{%piece 'style'%}
    <link href="{% asset('WeMnid:style:style_cont.css')%}" media="screen" rel="stylesheet" type="text/css">
{%endpiece%}
{%piece 'content'%}
{%include 'WeMnid:module:mainMenu'%}
<div id="dashboard">
    <ul id="rastro-migas">
        <li>home</li>
    </ul>
    
    <div class="content">
        Soy el content
    </div>
</div>
{%endpiece%}